@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:wght@300;400;700&display=swap');
$gray: #303633;
$lightGray: #f2f2f2;
$green: #8bebcd;
$pink: #9c7a97;
$headings: 'Source Sans Pro', sans-serif;
$text: 'Lato', sans-serif;
$transition: .3s ease;
$font: 16px;
$white: #fff;
/***************
mixins
***************/
@mixin btn {
    border: 2px solid $green;
    padding: 10px 40px;
    font-size: 1rem;
    border-radius: 8px;
    background: transparent;
    color: $green;
    margin-top: 30px;
    &:hover {
        border: 2px solid $pink;
        color: $pink;
        cursor: pointer;
        transition: $transition;
    }
}
@mixin line {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background: $lightGray;
    margin: 20px 0;
}
/***************
basic styles
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $text;
    font-size: $font;
    color: $gray;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $headings;
}
h2 {
    font-size: 2.5rem;
    font-weight: 700;
    &::after {
        display: block;
        content: "";
        height: 2px;
        width: 100px;
        background: $pink;
        margin: 25px 0;
    }
}
/***************
aside
***************/
aside {
    flex: 1;
    background-image: linear-gradient(rgba($gray, .9), rgba($pink, .9)), url(img/bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-right: 60px;
    img {
        width: 40%;
        border-radius: 50%;
        border: 5px solid $pink;
    }
    h1 {
        color: $white;
        font-weight: 300;
        padding: 30px 0;
        span {
            color: $green;
            font-weight: 700;
            font-style: italic;
            letter-spacing: 2px;
        }
    }
    a {
        color: $green;
        margin-left: 20px;
        font-size: 2rem;
        &:hover {
            color: $white;
            transition: $transition;
        }
    }
}
/***************
main
***************/
.main {
    flex: 2;
    padding: 40px;
    .about {
        button {
            @include btn;
        }
        &::after {
            @include line;
        }
    }
}